.rightimg {
	
float: right;
margin: 7px, 7px, 7px, 7px;	

}

.h1 {
	font-weight: bold;
}

.h2 {
	font-weight: bold;
}

.body{
	background-image:url(C:\Users\Андрей\Desktop\My Resume\MyResume\Images\pngtree long street.jpg);
}